/* ==========================================================================
   Border-box all the things!
   ========================================================================== */

*,
:before,
:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


/* ==========================================================================
   General
   ========================================================================== */

html {
	background: $white;
}

body {
	background: $white;
}

::-moz-selection {
	color: $white;
}

::selection {
    color: $white;
}


/* ==========================================================================
   Links
   ========================================================================== */

a,
a:visited {
	color: purple;
}
a:hover {
	color: blue;
}


/* ==========================================================================
   Images
   ========================================================================== */

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}


/* ==========================================================================
   Typography
   ========================================================================== */

html {
	font-size: 1em;

	@include for-desktop-large-up {
		font-size: 1.25em;
	}

	@include for-desktop-huge-up {
		font-size: 1.375em;
	}

	@include for-tablet-landscape-down {
		font-size: 0.875em;
	}

	@include for-tablet-portrait-down {
		font-size: 0.75em;
	}
}

body {
	// @include webfont( 'Whatever' );
	font-size: 1rem;
	line-height: ( 24/16 );
	font-feature-settings: "liga", "kern";
}

@mixin heading-base {
	display: block;
	margin: 3rem 0 1rem;
	
	// @include webfont( 'Whatever' );

	em {
		// @include webfont( 'Whatever Italic' );
	}

	.pre-heading + &,
	&:first-child {
		margin-top: 0;
	}

	+ .sub-heading {
		margin-top: -0.5rem;
	}
}

@mixin alpha {
	@include heading-base;

	font-size: rem-calc( 60 );
	line-height: ( 66/60 );

	@include for-tablet-portrait-down {
		font-size: rem-calc( 48 );
		line-height: ( 54/48 );
	}

	@include for-phone-large-down {
		font-size: rem-calc( 42 );
		line-height: ( 48/42 );
	}
}

@mixin beta {
	@include heading-base;

	font-size: rem-calc( 32 );
	line-height: ( 40/32 );
}

@mixin gamma {
	@include heading-base;

	font-size: rem-calc( 32 );
	line-height: ( 40/32 );
}

@mixin delta {
	@include heading-base;

	font-size: rem-calc( 24 );
	line-height: ( 28/24 );
}

@mixin epsilon {
	@include heading-base;

	font-size: rem-calc( 22 );
	line-height: ( 28/22 );
}

@mixin zeta {
	@include heading-base;

	font-size: rem-calc( 20 );
	line-height: ( 24/20 );
}

h1,
.alpha {
	@include alpha;
}

h2,
.beta {
	@include beta;
}

h3,
.gamma {
	@include gamma;
}

h4,
.delta {
	@include delta;
}

h5,
.epsilon {
	@include epsilon;
}

h6,
.zeta {
	@include zeta;
}

p,
ul,
ol,
blockquote,
address {
	margin: 0 0 1.5em;

	&:last-child {
		margin-bottom: 0;
	}
}

@mixin pre-sub-heading {
	// @include webfont( 'Whatever' );
}

.pre-heading,
.sub-heading {
	@include pre-sub-heading;
}


/* ==========================================================================
   Alignment
   ========================================================================== */

.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}
.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}


/* ==========================================================================
   Accessiblity
   ========================================================================== */

/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}

/* ==========================================================================
   Clearings
   ========================================================================== */
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: '';
	display: table;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}


/* ==========================================================================
   Infinite Scroll
   ========================================================================== */

/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .paging-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
.infinity-end.neverending .site-footer {
	display: block;
}
