/* ==========================================================================
   Mixins
   ========================================================================== */

/*
 * Media Queries
 */
@mixin for-desktop-huge-up {
	@media ( min-width: 1801px ) { @content; }
}
@mixin for-desktop-large-up {
	@media ( min-width: 1501px ) { @content; }
}
@mixin for-tablet-landscape-down {
	@media ( max-width: 1200px ) { @content; }
}
@mixin for-tablet-portrait-down {
	@media ( max-width: 900px ) { @content; }
}
@mixin for-phone-large-down {
	@media ( max-width: 600px ) { @content; }
}
@mixin for-phone-small-down {
	@media ( max-width: 370px ) { @content; }
}
@mixin for-tall {
	@media ( max-aspect-ratio: 1/1 ) { @content; }
}
@mixin for-short {
	@media ( min-aspect-ratio: 2/1 ) { @content; }
}

/*
 * Mixin for clearfix
 * @include clearfix;
*/
@mixin clearfix {
	&:before,
	&:after {
	    content: " "; /* 1 */
	    display: table; /* 2 */
	}

	&:after {
	    clear: both;
	}
}

/*
 * @font-face mixin
 */

@mixin fontface( $font-family, $font-url, $font-name, $font-weight, $font-style: normal, $font-stretch: normal ) {
	@font-face {
		font-family: $font-family;
		src: url( $font-url + '/' + $font-name + '.eot' );
		src: url( $font-url + '/' + $font-name + '.eot#iefix' ) format( 'embedded-opentype' ),
			 url( $font-url + '/' + $font-name + '.woff2' ) format( 'woff2' ),
			 url( $font-url + '/' + $font-name + '.woff' ) format( 'woff' );
		font: {
			weight: $font-weight;
			style: $font-style;
			stretch: $font-stretch;
		}
	}
}

@mixin webfont( $font-family ) {

	/*
	@if ( $font-family == 'Whatever' ) {
		font-family: 'Whatever', sans-serif;
		font-weight: 400;
		font-style: normal;
	}

	@if ( $font-family == 'Whatever Italic' ) {
		font-family: 'Whatever', sans-serif;
		font-weight: 400;
		font-style: italic;
	}
	*/
}

@function rem-calc( $size ) {
	$remSize: $size / 16;
	@return #{ $remSize }rem;
}

@mixin absolute-cover {
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	object-fit: cover;
}
