/* ==========================================================================
   Variables
   ========================================================================== */

// Font Face
// @include fontface( 'Whatever Family', 'assets/fonts', 'WhateverName', weight, style (optional) );

// Colors
$white: #fff;
$black: #000;

// Text
$base-font-size: 18;
$selectionColor: $black;

// Other Values
$base-grid-gap: 20;