/* ==========================================================================
   Variables
   ========================================================================== */

// Font Face
// @include fontface( 'Whatever Family', 'assets/fonts/', 'WhateverName', weight, style (optional) );

// Colors
$white: #fff;
$black: #000;

// Text Selection
$selectionColor: $black;